.headercontainer {
  padding: 1em;
  height: 6em;
}

.header {
  width: 85%;
  height: 100%;
  margin: auto;
}

.logocontainer {
  height: 100%;
  float: left;
  padding-left: 1em;
}

.logo {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: .25em solid white;
}

.linkscontainer {
  float: right;
  padding: 1.25em 1em 1.25em 1em;
  vertical-align: middle;
}

.links {
  margin: 0 1em 0em 1em;
  padding-bottom: .2em;
  letter-spacing: .15em;
  display: inline-block;
  border-bottom: .01em solid #fcf8ee;
  transition: .35s;
}

.links:hover {
  transition: .35s;
  border-bottom: .01em solid #2B2B2B;
  border-width: thin;

}