.headercontainer {
  padding: 1em;
  height: 6em;
  letter-spacing: .15em;
}

.header {
  width: 85%;
  height: 100%;
  margin: auto;
}

.logocontainer {
  float: left;
  padding-left: 1em;
}

.logo {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: .25em solid white;
}

.bblogcontainer {
  position: absolute;
  width: min-content;
  margin: .5em 1em .5em 1em;
  padding: .25em .5em .25em .5em;
  opacity: 0;
  transition: .5s;
  border-radius: 50%;
  background-color: transparent;
}

.bblog {
  background-color: transparent;
}

.bblogcontainer:hover {
  padding-left: 4.25em;
  opacity: 100%;
  transition: .5s;
  background-color: transparent;
}

.linkscontainer {
  float: right;
  padding: 1.25em 1em 1.25em 1em;
  vertical-align: middle;
}

.links {
  margin: 0 1.5em 0em 1.5em;
  padding-bottom: .2em;
  display: inline-block;
  border-bottom: .01em solid #fff6df;
  transition: .35s;
}

.links:hover {
  transition: .35s;
  border-bottom: .01em solid #2B2B2B;
  border-width: thin;
}

.rightspacing {
  margin-right: 0;
}