.landingworkcontainer {
  width: 81.5%;
  height: 100%;
  margin: auto;
  margin-top: 6.5em;
  margin-bottom: 8em;
}

.landingworkbodycontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
  height: 100%;
}

.landingworktitlecontainer {
  margin-bottom: 1em;
}

.landingworktitle {
  font-size: 1.1em;
  color: #736CED;
  letter-spacing: .15em;
  font-weight: bold;
}

.landingblurbcontainer {
  background-color: rgb(205, 180, 235);
  padding: 6em 0em 6em 0em;
}

.landingblurbspancontainer {
  width: 81.5%;
  margin: auto;
  text-align: center;
}

.landingblurb {
  color: #FEF9FF;
  font-size: 1.5em;
}

.landinglifecontainer {
  width: 81.5%;
  margin: auto;
  margin-top: 6.5em;
  margin-bottom: 8em;
}

.landinglifetitlecontainer {
  margin-bottom: 1em;
}

.landinglifetitle {
  font-size: 1.1em;
  color: #736CED;
  letter-spacing: .15em;
  font-weight: bold;
}

.landinglifebodycontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  height: 100%;
}

/* add numbered classes to worktiles and lifetiles. */