.lifetilecontainer {
  width: 16.5em;
}

.lifetileimagecontainer {
  height: 16.5em;
  width: 16.5em
}

.lifetileimage {
  height: 100%;
  width: 100%;
}

.lifetiletitle {
  margin-top: .5em;
  margin-bottom: 1.5em;
}