.worktileimagecontainer {
  height: 23em;
  width: 100%;
  transition: .35s;
}

.worktileimagecontainer:hover {
  transition: .35s;
  opacity: 75%;
  z-index: 0;
}

.worktileimage {
  height: 100%;
  width: 100%;
}

.worktiletitlecontainer {
  margin-top: .75em;
  margin-bottom: 1.75em;
}

.worktiletitle {
  font-size: 1.1em;
  letter-spacing: .05em;
  color: grey;
  font-weight: bold;
}

.worktileimagecontainer:hover + .worktiletitlecontainer .worktiletitle{
  /* color: #748CAB; */
  color: rgb(71, 124, 194);
}